html, body {
    height: 100%;
}
.sign-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100%;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
}
.form-signin input[name="mb_id"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}