@import '../_variable.scss';

.blogbox {
    width: 100%;
    margin-bottom: 2.5rem;
    .title-block {
        width: 100%;
        .date {
            font-weight: 400;
            font-size: 1.2rem;
            letter-spacing: -0.03em;
            color: #000000;
            margin-bottom: 0.3rem;
        }
        .title {
            font-family: 'Noto Sans KR';
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.34;
            color: #000000;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 22.8rem;
        }
    }
    .img-block {
        width: 100%;
    }
    .text-block {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .blogbox {
        width: 100%;
        margin-bottom: 6rem;
    }
}
