@import '../variable.scss';

.CategoryItem {
    margin-right: 1rem;
    margin-bottom: 0.8rem;
    color: $black;
    transition: color 0.25s ease;
    button {
        display: flex;
        align-items: flex-end;
        .name {
            line-height: 1;
            font-size: 1.6rem;
            font-weight: 700;
            word-break: keep-all;
            white-space: nowrap;
        };
        .count {
            margin-left: 0.3rem;
            line-height: 1.1;
            font-size: 1rem;
            font-weight: 400;
        };
    }
    &.isActive {
        color: #C0C0C0;
        font-weight: 300;
    }
}




@media (min-width: 1200px) {
    .CategoryItem {
        margin-right: 3.4rem;
        margin-bottom: 1.2rem;
        button {
            display: flex;
            align-items: flex-end;
            .name {
                line-height: 1;
                font-size: 3.4rem;
                font-weight: 700;
                word-break: keep-all;
                white-space: nowrap;
            };
            .count {
                margin-left: 0.6rem;
                line-height: 1.6;
                font-size: 1.6rem;
                font-weight: 400;
            };
        }
    }
}