footer {
    margin-top: 6.4rem;
    // margin-bottom: 6.4rem;
    color: #fff;
    height: 100%;
    width: 100%;
    .inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .logo {
            // display: block;
            display: none;
            svg {
                fill: #fff;
                width: 12.4rem;
                margin-bottom: 1.7rem;
            }
        }
        .elem-block {
            .footer-elem {
                margin-bottom: 2rem;
                .footer-elem__title {
                    font-weight: 700;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    letter-spacing: -0.01em;
                    margin-bottom: 0.5rem;
                }
                .footer-elem__desc {
                    font-weight: 400;
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                    letter-spacing: -0.01em;
                }
            }
            .brief-block {
                margin-bottom: 7.4rem;
                a {
                    span.footer-elem__title {
                        margin-bottom: 0;
                        margin-right: 2.1rem;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    svg {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
        .copyright-block {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.2rem;
            letter-spacing: -0.03em;
        }
    }
}

@media (min-width: 1200px) {
    footer {
        background-color: #000000;
        color: #fff;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 6.7rem 0 11.2rem;
        position: relative;
        height: auto;
        .inner {
            max-width: 1210px;
            margin: 0 auto;
            display: block;
            height: auto;
            .elem-block {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .logo {
                    // display: none;
                    display: block;
                    margin-right: 28.9rem;
                }
                .break-wrap {
                    .footer-elem {
                        display: block;
                        margin-bottom: 2.6rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .footer-elem {
                    margin-bottom: 0;
                    // flex-basis: 25%;
                    .footer-elem__title {
                        font-weight: 700;
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        letter-spacing: -0.01em;
                        margin-bottom: 0.9rem;
                    }
                    .footer-elem__desc {
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 1.9rem;
                        letter-spacing: -0.01em;
                    }
                }
                .brief-block {
                    margin-bottom: 7.4rem;
                    a {
                        span.footer-elem__title {
                            margin-bottom: 0;
                            margin-right: 2.1rem;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        svg {
                            display: inline-block;
                            vertical-align: middle;
                            width: 3rem;
                            height: 3rem;
                        }
                    }
                }
            }
            .copyright-block {
                position: absolute;
                top: 13rem;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.9rem;
                letter-spacing: -0.03em;
                // text-align: center;
            }
        }
    }
}
