@import '../variable.scss';

.pressbox {
    width: 100%;
    margin-bottom: 6rem;
    .img-block {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: 2rem;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .text-block {
        .title {
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 0.8rem;
            line-height: 1.3;
        }
        .date {
            font-weight: 400;
            font-size: 1.6rem;
        }
    }
}
