@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import './variable.scss';
// $grey: #666666;
// $black: #000000;
// $white: #ffffff;
// $desktop-container-width: 1200px;

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Kumbh Sans', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    letter-spacing: -0.01em;
    color: $black;
}
img {
    max-width: 100%;
}

.grid-inner {
    width: $desktop-container-width;
    margin: 0 auto;
}
.contents {
    padding-top: 29rem;
}
.contents .page-title {
    font-size: 7.6rem;
    font-weight: 700;
}

.section-hero {
    background-color: #6F6F6F;
    width: 100%;
    padding-bottom: 59.85%;
}
.section-work > h3 {
    font-size: 3.6rem;
    text-align: center;
    padding: 10rem 0 7rem;
    font-weight: 300;
}

