@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import './variable.scss';
// $grey: #666666;
// $black: #000000;
// $white: #ffffff;
// $desktop-container-width: 1200px;

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Kumbh Sans', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    color: $black;
}
img {
    max-width: 100%;
}

.grid-inner {
    width: $desktop-container-width;
    margin: 0 auto;
}

.section-hero {
    background-color: #6f6f6f;
    width: 100%;
    padding-bottom: 59.85%;
}
.section-work > h3 {
    font-size: 3.6rem;
    text-align: center;
    padding: 10rem 0 7rem;
    font-weight: 300;
}

#container.About {
    // ! 임시코드
    .box {
        background-color: lightgrey;
        width: 100%;
        height: 30rem;
    }
    > .inner {
        padding-top: 33.6rem;
        padding-bottom: 22.3rem;
    }
    .title-block {
        margin-bottom: 6rem;
        .sub-title {
            font-weight: 700;
            font-size: 3.1rem;
            line-height: 3.8rem;
            text-align: center;
            letter-spacing: -0.03em;
            color: $black;
            margin-bottom: 3.1rem;
        }
        .title {
            font-weight: 700;
            font-size: 3.8rem;
            line-height: 4.4rem;
            text-align: center;
            letter-spacing: -0.03em;
            color: $black;
        }
    }
    .video-block {
        width: 100%;
        padding-top: 38.227513227513228%;
        background-color: lightgray;
        margin-bottom: 15.3rem;
    }
    .do-block {
        margin-bottom: 13rem;
        .inner {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .team-block {
        margin-bottom: 24.4rem;
        .inner {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            .box {
                background: none;
                ul {
                    width: 100%;
                    height: 100%;
                    li {
                        background-color: lightgray;
                        height: 100%;
                        width: 26rem;
                        margin-right: 2rem;
                        display: inline-block;
                    }
                    li:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .client-block {
        .inner {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
}

#container.Contact {
    background-color: $black;
    color: $white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
        width: 100%;
        max-width: 1100px;
        .title-block {
            margin-bottom: 10.2rem;
            .title-num {
                // ! 나중에 폰트 웨이트 변수로 변경, 볼드, 라이트볼드 등등으로
                font-weight: 700;
                font-size: 2.7rem;
                line-height: 3.1rem;
                letter-spacing: -0.03em;
                margin-bottom: 1rem;
            }
            .title {
                font-weight: 700;
                font-size: 3.7rem;
                line-height: 5.4rem;
                letter-spacing: -0.03em;
                margin-bottom: 0.5rem;
            }
            .title-desc {
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2.2rem;
                letter-spacing: -0.03em;
            }
        }
        .select-block {

        }
    }
}
