@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;700&display=swap');
$grey: #666666;
$black: #000000;
$white: #ffffff;
$desktop-container-width: 1200px;

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Kumbh Sans', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    letter-spacing: -0.01em;
    color: $black;
}
img {
    max-width: 100%;
}

.grid-inner {
    width: $desktop-container-width;
    margin: 0 auto;
}
.contents {
    padding-top: 29rem;
}
.contents .page-title {
    font-size: 7.6rem;
    font-weight: 700;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 11rem 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo svg {
            fill: $white;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                a {
                    display: block;
                    padding: 2.4rem;
                    font-size: 2rem;
                    font-weight: 300;
                    letter-spacing: -0.01em;
                    color: $white;
                }
            }
        }
    }
    &[data-color="black"] .wrapper {
        .logo svg {
            fill: $black;
        }
        ul li a {
            color: $black;
        }
    }
}
.section-hero {
    background-color: #6F6F6F;
    width: 100%;
    padding-bottom: 59.85%;
}
.section-work > h3 {
    font-size: 3.6rem;
    text-align: center;
    padding: 10rem 0 7rem;
    font-weight: 300;
}

.workbox {
    position: relative;
    width: 49.6%;
    .wrapper {
        padding-bottom: 48.3%;
    }
    .item-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .box-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .box-overlay .logo-img {
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }
    &:hover {
        .box-overlay {
            opacity: 1;
        }   
    }
}